.signInButton {
  position: fixed !important;
  top: 46vh !important;
  left: 25% !important;
  border: 1px solid black !important;
  box-shadow: 5px 8px 10px #888 !important;
  outline: none !important;

  -webkit-animation: scale-up-top 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: scale-up-top 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}
@-webkit-keyframes scale-up-top {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
  }
}
@keyframes scale-up-top {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
  }
}
#msg {
  -webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1)
    both;
  animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}
@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@media (max-width: 768px) {
  #msg {
    font-size: 18px;
  }
  #nav {
    width: 92%;
  }
}
@media (min-width: 768px) {
  #msg {
    font-size: 25px;
  }
  #nav {
    width: 98%;
  }
  .signInButton {
    top: 47vh !important;
    left: 44% !important;
  }
}
#nav {
  box-shadow: 5px 8px 10px #888;
  position: fixed;
  padding: 20px;
  background-color: white;
  top: 0px;
  height: 50px;
  display: flex;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  -webkit-animation: puff-in-center 0.7s cubic-bezier(0.47, 0, 0.745, 0.715)
    both;
  animation: puff-in-center 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) both;
}
@-webkit-keyframes puff-in-center {
  0% {
    -webkit-transform: scale(2);
    transform: scale(2);
    -webkit-filter: blur(4px);
    filter: blur(4px);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
@keyframes puff-in-center {
  0% {
    -webkit-transform: scale(2);
    transform: scale(2);
    -webkit-filter: blur(4px);
    filter: blur(4px);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
.typo {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px !important;
  font-weight: 600;
}
#logged_info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.logged_info {
  background-color: green;
  color: white;
  border-radius: 3px;
  padding: 3px;
  width: 75px;
  text-align: center;
  white-space: nowrap;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px !important;
}
.searchBox {
  margin-left: 20%;
  outline: none;
  border: none;
  width: 60%;
  border-bottom: 3px solid #dcdcdc !important;
}
.flexAdder {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}